<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }}</title>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/prism.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} RSS feed" />
</head>
<body>
    {% block master_content %}{% endblock %}
    <script src="{{ site.url }}/assets/js/prism.js"></script>
</body>
</html>
