---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
---
<div class="posts">
    {% for post in page.pagination.items %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <small class="meta">
                {{ post.date | date("F jS Y")}}
                {% if post.meta.categories %}&middot;{% for category in post.meta.categories %}
                <a href="{{ site.url }}/category/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}{% endif %}
            </small>
        </h1>
        <p>{{ post.content|raw }}</p>
        {% if post.link %}
        <p class="post-link"><a href="{{ post.link }}">Link</a></p>
        {% endif %}
    </div>
    <hr>
    {% endfor %}
</div>
<div class="pagination row-fluid">
    <div class="col-md-6 pagination-item older">
        {% if page.pagination.next_page %}
        <a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a></div>
        {% else %}
        <span>Older Posts</span>
        {% endif %}
    </div>
    <div class="col-md-6 pagination-item newer">
        {% if page.pagination.previous_page %}
        <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>
        {% else %}
        <span>Newer Posts</span>
        {% endif %}
    </div>
</div>
