---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
<div class="posts">
    {% for post in page.pagination.items %}
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </h1>
            <p class="post-meta">
                <span class="post-date">
                    Posted on
                    <strong>{{ post.date | date("F jS Y") }}</strong>
                </span>
                {% if post.categories %}
                <span class="post-categories">
                    under
                    {% for category in post.categories %}
                    <a href="{{ site.url }}/category/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %},
                    {% endif %}{% endfor %}
                </span>
                {% endif %}
            </p>
        </header>
        <div class="post-content">
            {{ post.content|raw }}
            {% if post.link %}
            <p class="post-link"><a href="{{ post.link }}">Link</a></p>
            {% endif %}
        </div>
    </article>
    <hr>
    {% endfor %}
</div>
<div class="post-pagination row clearfix">
    <div class="col-md-6 post-pagination-item older">
        {% if page.pagination.next_page %}
        <a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>
        {% else %}
        <span>Older Posts</span>
        {% endif %}
    </div>
    <div class="col-md-6 post-pagination-item newer">
        {% if page.pagination.previous_page %}
        <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>
        {% else %}
        <span>Newer Posts</span>
        {% endif %}
    </div>
</div>
